body{

    


   .preloader{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    h3{
        @include fontdeta(34px,500,$color2);
        margin-top: 20px;
        font-style: italic;
        color:$color1;
        text-shadow: 1px 1px  #000;
         

        span{
            color:crimson;
        }
    }
     
   
  }
}

